/**
* 27 de Mayo 2025
* Archivo de sass creado
*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding:o;
}
.box{
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1{
    color: #333;
    margin-bottom: 15px;
}
p{
    color: #888;
    line-height: 1.6;
}